@font-face {
    font-family: Amiri;
    font-style: normal;
    font-weight: 400;
    src: url(KFC_naskh.otf);
}

body {
    font-family: Amiri, sans-serif;
    margin: auto;
    max-width: 1280px;
    padding: 30px;
    background-color: rgb(230, 230, 230);
}

@media (min-width: 576px) {
    .text {
        font-family: Amiri, sans-serif;
        font-size: 4em;
    }
}

@media (min-width: 992px) {
    .text {
        font-family: Amiri, sans-serif;
        font-size: 2em;
    }
}

.btn {
    line-height: 4em;
    width: 4em;
    margin: 10px auto;
    display: none;
    text-align: center;
    text-decoration : none;
}

.record {
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    display: block;
    border: none;
    color: white;
}

.stop {
    background-color: black;
    color: white;
}

.next {
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

#timer {
    display: block;
    color: black;
}

.navbar {
    background-color: #313236;
    border-radius: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.navbar a {
    color: #aaa;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-align: right;
}

.navbar a:hover {
    color: #ffffff;
}
